In [1]:
import pandas as pd

filepath = '/kaggle/input/superstore-dataset-final/Sample - Superstore.csv'
df = pd.read_csv(filepath, index_col=0, encoding='latin1')
df

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Row ID,,,,,,,,,,,,,,,,,,,,
1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,Florida,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

✅ 전처리 / 탐색

데이터에 결측치가 있는 컬럼은 무엇이며, 각각 몇 건이나 존재하는가?

분석에 불필요하거나 중복된 정보처럼 보이는 컬럼은 어떤 게 있을까?

배송까지 걸린 날짜를 계산하여 새로운 컬럼으로 추가하라.

카테고리별로 총 판매량, 총 수익, 평균 할인율을 비교하라.

각 고객이 몇 번이나 주문했는지와, 그들의 평균 구매 금액은 얼마인지 확인하라.

In [2]:
# 1.
df.isnull().sum()

Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [3]:
# 2.
df
# Customer ID, Customer Name 중복됨
# Product ID, Product Name 중복됨
result = df.drop(columns=['Customer Name', 'Product Name'])
result

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Sales,Quantity,Discount,Profit
Row ID,,,,,,,,,,,,,,,,,,
1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,261.9600,2,0.00,41.9136
2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,731.9400,3,0.00,219.5820
3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,14.6200,2,0.00,6.8714
4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,957.5775,5,0.45,-383.0310
5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Consumer,United States,Miami,Florida,33180,South,FUR-FU-10001889,Furniture,Furnishings,25.2480,3,0.20,4.1028
9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Consumer,United States,Costa Mesa,California,92627,West,FUR-FU-10000747,Furniture,Furnishings,91.9600,2,0.00,15.6332
9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Consumer,United States,Costa Mesa,California,92627,West,TEC-PH-10003645,Technology,Phones,258.5760,2,0.20,19.3932
9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Consumer,United States,Costa Mesa,California,92627,West,OFF-PA-10004041,Office Supplies,Paper,29.6000,4,0.00,13.3200
9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Consumer,United States,Westminster,California,92683,West,OFF-AP-10002684,Office Supplies,Appliances,243.1600,2,0.00,72.9480

In [4]:
# 3.
def cal_arrived(order, ship):
    order = pd.to_datetime(order)
    ship = pd.to_datetime(ship)
    
    df['Duration'] = ship - order
    return df
    
cal_arrived(df['Order Date'], df['Ship Date'])
df

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Duration
Row ID,,,,,,,,,,,,,,,,,,,,,
1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,3 days
2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,3 days
3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,...,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,4 days
4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,7 days
5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,7 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,Florida,...,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028,2 days
9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,...,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332,5 days
9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,...,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932,5 days
9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,...,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200,5 days
9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,...,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480,5 days

In [5]:
# 4.

# total_sales = df.groupby('Category').Sales.sum()
# discount_mean = df.groupby('Category').Discount.mean()
# total_profit = df.groupby('Category').Profit.sum()

# table = pd.DataFrame({'Total Sales': total_sales, 'Discount Mean': discount_mean, 'Total Profit': total_profit}, index=df['Category'].unique())
# table

df.groupby('Category').agg({'Sales': 'sum', 'Discount': 'mean', 'Profit': 'sum'}).rename(columns={'Sales': 'Total Sales', 'Discount': 'Discount Mean', 'Profit': 'Total Profit'})

                 Total Sales  Discount Mean  Total Profit
Category
Furniture        741999.7953       0.173923    18451.2728
Office Supplies  719047.0320       0.157285   122490.8008
Technology       836154.0330       0.132323   145454.9481

In [6]:
# 5. 각 고객이 몇 번이나 주문했는지와, 그들의 평균 구매 금액은 얼마인지 확인하라.
customer_sales_mean = df.groupby('Customer ID').agg({'Order ID': 'count', 'Sales': 'mean'}) 
customer_sales_mean.rename(columns={'Order ID': 'Count', 'Sales': 'Sales Mean'})
# agg - 단일 프로퍼티의 다중 연산 : 리스트 사용 / 다중 프로퍼티 각각 연산 : 딕셔너리
# df.groupby('Customer ID')['Sales'].mean()

             Count  Sales Mean
Customer ID
AA-10315        11  505.778182
AA-10375        15   70.426000
AA-10480        12  149.209333
AA-10645        18  282.607500
AB-10015         6  147.692667
...            ...         ...
XP-21865        28   84.809214
YC-21895         8  681.793750
YS-21880        12  560.037000
ZC-21910        31  258.893774
ZD-21925         9  165.993778

[793 rows x 2 columns]


✅ EDA / 시각화 준비

지역(Region)과 고객 유형(Segment)별로 매출과 수익률을 비교하라.

월별 매출 추이를 분석하기 위한 테이블을 생성하라.

수익률이 가장 높은 상품 5개를 찾아라. (수익률: 수익 ÷ 매출)

In [7]:
# 1.지역(Region)과 고객 유형(Segment)별로 매출과 수익률을 비교하라.
df.groupby(['Region', 'Segment']).agg({'Sales': 'sum', 'Profit': 'sum'})

                           Sales      Profit
Region  Segment
Central Consumer     252031.4340   8564.0481
        Corporate    157995.8128  18703.9020
        Home Office   91212.6440  12438.4124
East    Consumer     350908.1670  41190.9843
        Corporate    200409.3470  23622.5789
        Home Office  127463.7260  26709.2168
South   Consumer     195580.9710  26913.5728
        Corporate    121885.9325  15215.2232
        Home Office   74255.0015   4620.6343
West    Consumer     362880.7730  57450.6040
        Corporate    225855.2745  34437.4299
        Home Office  136721.7770  16530.4150

In [8]:
# 2. 월별 매출 추이를 분석하기 위한 테이블을 생성하라.
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Month'] = df['Order Date'].dt.month
# agg - 단일함수 사용 : Series, 다중함수 사용 : DataFrame 반환 / 
# 단일함수 사용하면서 DataFrame 뽑고싶다 - 리스트 감싸기  ex) agg(['sum'])
table = df.groupby('Month').Sales.sum().reset_index().set_index('Month')
# df.groupby('~~').property.sum() - Series
# 거기에 reset_index - DataFrame 반환
# reset_index: Series의 index를 컬럼으로 끌어내리고 새로운 인덱스 부여.
table

             Sales
Month
1       94924.8356
2       59751.2514
3      205005.4888
4      137762.1286
5      155028.8117
6      152718.6793
7      147238.0970
8      159044.0630
9      307649.9457
10     200322.9847
11     352461.0710
12     325293.5035

In [9]:
# 3. 수익률이 가장 높은 상품 5개를 찾아라. (수익률: 수익 ÷ 매출)
product_total_sales = df.groupby('Product ID').Sales.sum()
product_total_profit = df.groupby('Product ID').Profit.sum()
return_rate = (product_total_profit / product_total_sales)
return_rate.sort_values(ascending=False).head(5)

Product ID
OFF-PA-10004082    0.5
TEC-MA-10002927    0.5
OFF-PA-10004734    0.5
OFF-PA-10004092    0.5
OFF-LA-10003498    0.5
dtype: float64

✅ 선택 문제 (심화 분석)

배송에 평균보다 오래 걸린 주문을 찾아라.

가장 높은 할인율로 판매된 주문은 어떤 제품이었고, 수익은 얼마나 발생했는가?

In [10]:
# 1. 배송에 평균보다 오래 걸린 주문을 찾아라.
df['Order ID'].loc[df.Duration > df.Duration.mean()]

Row ID
3       CA-2016-138688
4       US-2015-108966
5       US-2015-108966
6       CA-2014-115812
7       CA-2014-115812
             ...
9989    CA-2017-163629
9991    CA-2017-121258
9992    CA-2017-121258
9993    CA-2017-121258
9994    CA-2017-119914
Name: Order ID, Length: 6767, dtype: object

In [11]:
# 2. 가장 높은 할인율로 판매된 주문은 어떤 제품이었고, 수익은 얼마나 발생했는가?
discount_max = df.Discount.max()
df[['Product ID', 'Profit', 'Discount']].loc[df.Discount == discount_max]
# 여러 컬럼 select는 리스트에 감쌀 것.

             Product ID    Profit  Discount
Row ID
15      OFF-AP-10002311 -123.8580       0.8
16      OFF-BI-10000756   -3.8160       0.8
76      OFF-BI-10004182   -1.9344       0.8
102     OFF-BI-10002609   -3.0396       0.8
170     OFF-AP-10002518 -453.8490       0.8
...                 ...       ...       ...
9795    OFF-BI-10000977  -31.0080       0.8
9796    OFF-BI-10003429   -5.8869       0.8
9809    OFF-BI-10001116   -3.3792       0.8
9836    OFF-BI-10001597  -26.2272       0.8
9921    OFF-BI-10004233  -35.8176       0.8

[300 rows x 3 columns]

🎁 보너스 (성과물용 포맷 예시)
.ipynb or .py 파일로 저장

함수화 가능한 건 def로 감싸기

README.md에 다음 포함:

사용한 분석 질문 목록

주요 결과 요약 (Markdown + 결과 일부 출력)

데이터셋 링크 (https://www.kaggle.com/datasets/vivek468/superstore-dataset-final)